/* flex class*/
.flexR {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.flexC {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
/* html elements*/
html {
	background-color: #bf9c8f;
}
body {
	width: 1000px;
	height: 600px;
	justify-content: space-around;
}
h1 {
	color: rgb(34, 33, 33);
	font-family: "Times New Roman", Times, serif;
}
img {
	width: 50%;
	height: 20%;
}
button {
	width: 70%;
	height: 10%;
	border-radius: 5%;
	border: solid #d9bdad;
	font-weight: bold;
	font-size: medium;
}
p {
	font-weight: bolder;
	font-size: large;
}
/* Id*/
#content {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	justify-content: space-evenly;
}
#scaleValue {
	border: solid #d9bdad;
	background-color: white;
	text-align: center;
	width: 20px;
	height: 20px;
}
/* classes*/
.container {
	margin: 0 auto;
	width: 85%;
	height: 85%;
	display: grid;
	border: solid #d9bdad;
	background-color: white;
}
.header {
	background-color: transparent;
	width: 30%;
	height: 70%;
	justify-content: space-between;
}
.range {
	width: 90%;
	justify-content: space-around;
}
.active {
	border: solid #e76f51;
}
